.marginRight5px { margin-right: 5px; }
.width100percent { width: 100%; }
.fontSize1rem { font-size: 1rem; }
.fontSize1p3rem { font-size: 1.3rem; }
.positionAbsolute { position: absolute; }
.positionRelative { position: relative; }
.right10px { right: 10px; }
.displayFlex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.displayNone { display: none; }
.flexCenter { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.alignItemsCenter { align-items: center; }
.flexRow { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.flexColumn { -webkit-box-orient: vertical; -ms-flex-direction: column; flex-direction: column; }
.opacityHover0p3:hover { opacity: 0.3; }
.marginBottom1p5rem { margin-bottom: 1.5rem }
.marginTop1p5rem { margin-top: 1.5rem }
.padding6px { padding-right: 6px; }
.paddingBottom16px { padding-bottom: 16px; }
.paddingLeft11px { padding-left: 11px; }
.padding12pxLeftRightTop { padding-left: 12px; padding-right: 12px; padding-top: 12px; }
.listItem { text-align: left !important; border: 0px; }
.listItem:hover { border: 1px solid #bbb; cursor: pointer; }
.colorWhite { color: white; }
.fontLobster { font-family: 'Lobster', cursive; font-size: 4rem; color:white; }
.bgRed { background: linear-gradient(90deg, rgba(255,88,88,1) 0%, rgba(255,94,46,1) 100%); }
.modal { background: rgba(0, 0, 0, 0.8); z-index: 1; position: absolute; right: 0; left: 0; top: 0; bottom: 0; }

/*
  linear-gradient(90deg, rgb(255, 111, 63) 0%, rgb(255, 59, 0) 100%);
  background: rgb(8,99,116);
  background: rgb(255,88,88); 
  background: linear-gradient(90deg, rgba(8,99,116,1) 0%, rgba(5,53,74,1) 100%); 
  background: rgb(27,146,138);
  background: linear-gradient(90deg, rgba(27,146,138,1) 0%, rgba(8,99,114,1) 100%);
    84, 77, 192
    77, 139, 192
    38, 116, 128
*/
