
.marginTop1rem { margin-top: 1rem; }
.marginTop20px { margin-top: 20px; }
.marginRight5px { margin-right: 5px; }
.width100percent { width: 100%; }
.fontSize1rem { font-size: 1rem; }
.positionAbsolute { position: absolute; }
.positionRelative { position: relative; }
.right10px { right: 10px; }
.displayFlex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.displayNone { display: none; }
.flexCenter { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.alignItemsCenter { align-items: center; }
.flexRow { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.opacityHover0p3:hover { opacity: 0.3; }
.marginBottom1p5rem { margin-bottom: 1.5rem }
.marginTop1p5rem { margin-top: 1.5rem }
.padding24pxLeftRightTop { padding-left: 24px; padding-right: 24px; padding-top: 24px; }
.bgDark { background: rgba(38, 116, 128, 1); }
/*
    84, 77, 192
    77, 139, 192
    38, 116, 128
*/
.colorWhite { color: white; }
.listItem {
  text-align: left !important;
  border: 0px;
}
.listItem:hover {
  border: 1px solid #bbb;
  cursor: pointer;
}